<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://sampledurablefunctions20221020121612.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/c83f18ce-c611-45f8-995d-a300d13f9e73/resourcegroups/bademo2/providers/Microsoft.Web/sites/SampleDurableFunctions20221020121612</ResourceId>
    <UserName>$SampleDurableFunctions20221020121612</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://sampledurablefunctions20221020121612.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>