@model IEnumerable<Product>
@{
    ViewData["Title"] = "Home Page";
}

<h3>Ürünlerimiz</h3>
<div class="text-center">
    <table class="table table-striped">
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Price</td>

            </tr>
        }
    </table>
</div>
